body {
    background-color: #41a5f5;

    h1 {
        font-family: 'Chewy', cursive;
        text-align: center;
        font-size: 75px;
        margin-top: 25px;
        margin-bottom: 30px;
    }
}
