form {
    margin-bottom: -55px;

    .btn {
        background-color: #93c757 !important;
        transition: .4s;
        border: none;

        &:hover {
            background-color: #7ab13b !important;
        }
    }
}
