.btn {
    background-color: #93c757 !important;
    transition: .4s;

    &:hover {
        background-color: #7ab13b !important;
    }
}

.btn-default {
    border: none;
}

form {
    margin-bottom: -55px;
}
